.container {
    position: relative;
}

.container img {
    height: 500px;
    width: 700px;
}
.container span{
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: white;
    padding: 10px;
}